<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>PayoutError</title>
    </head>
    <body>
        <h1>Fundraiser Email Not Associated with PayPal Account. Can't Donate to this Destination. </h1>
    </body>
</html>